.shop-container{
    display: grid;
    grid-template-columns: 2,1fr;
   margin-left: 15%;
   margin-right: 15%;
   
}
.cart-container{
    border-bottom: 1px solid gray;
}
.cart-container h2{
    text-align: center;
padding-right: 30px;
}
